body {
    background-color: #aeaeae;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}